<nav>
        
    <div class="site-title">
        <a href="/"><h1>Sweet stories</h1> </a>
        <p>Stories we all grew up with...</p>
    </div>
    <ul>
        <li> <a href="/">
            <div class="tooltip">
                stories
                <span class="tooltiptext">All stories</span>
            </div>
        </a></li>
        <li> <a href="/about">
            <div class="tooltip">
                About
                <span class="tooltiptext">About me</span>
            </div>
        </a></li>
        <li> <a href="/stories/create">
            <div class="tooltip">
                New story
                <span class="tooltiptext">Create new story</span>
            </div>
        </a></li>
    </ul>
</nav>